<section class="mt-5">
    <footer class="container-fluid">
        <div class="col-12 footer">
            {{ render(controller('AppBundle:Front:footer')) }}
        </div>
        <div class="col-12 main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <img src="{{ asset('bundles/images/logo1.png') }}">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <h3>Newsletter</h3>
                        <form action="" method="post">
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon1">@</span>
                                    <input type="text" class="form-control" placeholder="ejemplo@cibermania.es" />
                                    <span class="input-group-btn">
                                               <button class="btn btn-success" type="submit">Subcribirme</button>
                                          </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                </div>

                <div class="col-12">
                    <p class="text-center">&copy; {{ 'now' | date('Y') }} - Cibermania</p>
                    <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
                </div>

            </div>
        </div>


    </footer>
</section>