{% extends 'front/frontend.html.twig' %}
{% block section %}
    <section>
        <div class="container">
 			<div class="col-12">
				<h1>Cibermania </h1>
				<pre>Estoy desarrollando esta parte, escribeme por correo si necesitas algo</pre>
 				<ul>
 					<li>Índice</li>
 					<li>
 						<ul>
 							<li>¿Qúe es cibermania?</li>
 						</ul>
 					</li>
 				</ul>
 			</div>
        </div>
    </section>
{% endblock %}
