{% extends 'front/frontend.html.twig' %}
{% block section %}
    <section>
        <div class="container">
            <div class="col-12">

                <h1>Participa en cibermania</h1>

                <pre>Estoy desarrollando esta parte, escribeme por correo si necesitas algo</pre>
            </div>
        </div>
    </section>
{% endblock %}
